# macOS
.DS_Store

# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# ML artifacts
models/
*.pkl

# Generated data
data/weather_history.csv
data/processed_weather.csv
!data/weather_stream.csv

# Optional
*.log
.ipynb_checkpoints/data/weather_stream.csv

# VS Code
.vscode/

# Docker
*.pid

# Cache
.cache/
