# macOS
.DS_Store

# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# ML artifacts
models/
*.pkl

# Generated data (DO NOT PUSH)
data/weather_history.csv
data/weather_stream.csv
data/processed_weather.csv

# Optional
*.log
.ipynb_checkpoints/